.list_container{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 10rem;
}
.list_box{
  height: 25rem;
  width: 25rem;
  background-color: lightcoral;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.randomization_button{
  color: black;
  font-weight: bold;
  background-color: lightblue;
  display: flex;
  width: 3rem;
}